In [11]:
import numpy as np 
import pandas as pd

In [12]:
'''
create a dataframe which contains only integers with 3 rows and 2 columns
run following dataframe methods on them:
df.describe()
df.mean()
df.corr()
df.count()
df.max()
df.min()
df.median()
df.std()
'''

'\ncreate a dataframe which contains only integers with 3 rows and 2 columns\nrun following dataframe methods on them:\ndf.describe()\ndf.mean()\ndf.corr()\ndf.count()\ndf.max()\ndf.min()\ndf.median()\ndf.std()\n'

### Creating Dataframe

In [13]:
df = pd.DataFrame({
    "A": [10, 20, 30],
    "B": [5, 15, 25]
})

In [14]:
df

    A   B
0  10   5
1  20  15
2  30  25

In [15]:
# Gives a summary of numerical columns.
print("Describe:\n", df.describe())

Describe:
           A     B
count   3.0   3.0
mean   20.0  15.0
std    10.0  10.0
min    10.0   5.0
25%    15.0  10.0
50%    20.0  15.0
75%    25.0  20.0
max    30.0  25.0

In [16]:
# Calculates the mean (average) of each column.
print("\nMean:\n", df.mean())

Mean:
 A    20.0
B    15.0
dtype: float64

In [17]:
# Calculates the correlation coefficient between columns.
print("\nCorrelation:\n", df.corr())

Correlation:
      A    B
A  1.0  1.0
B  1.0  1.0

In [18]:
# Counts non-null entries in each column.
print("\nCount:\n", df.count())

Count:
 A    3
B    3
dtype: int64

In [19]:
# Returns the maximum value from each column.
print("\nMax:\n", df.max())

Max:
 A    30
B    25
dtype: int64

In [20]:
# Returns the minimum value from each column.
print("\nMin:\n", df.min())

Min:
 A    10
B     5
dtype: int64

In [21]:
# Returns the median (middle value) of each column.
# If even number of values â†’ average of the two middle values.
print("\nMedian:\n", df.median())

Median:
 A    20.0
B    15.0
dtype: float64

In [22]:
# Returns the standard deviation of each column.
# Measures how spread out the data is around the mean.
print("\nStandard Deviation:\n", df.std())

Standard Deviation:
 A    10.0
B    10.0
dtype: float64